:root {
  --background: #ffffff;
  --foreground: #000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

P {
  margin: 1rem 0;
}

.restricted-height {
  max-height: 300px;
  overflow: auto;
}

H1{
  margin: 1rem 0;
}

H2 {
  margin: 1rem 0;
}

H3 {
  margin: 1rem 0;
}

UL, OL {
  margin: 1rem 0;
  list-style-position: inside;
}

H1:first-child, H2:first-child, H3:first-child {
  margin-top: 0;
}


CODE {
  padding: 0 5px;
  border-radius: 3px;
  background: palegoldenrod;
}

PRE CODE {
  background: none
}

PRE {
  white-space: pre-wrap;
  margin-bottom: 1.5rem;
  padding: 1em;
  background: whitesmoke;
}

A {
  color: teal;
  text-decoration: underline;
}
A:hover {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
